# Question1

To scrape data for “Data Analyst” Job position in “Bangalore” location.( scrape first 10 jobs data)
Scrap:-
1. Job title
2. job-location
3.company_name
4.experience_required

In [131]:
import selenium
import pandas as pd
from selenium import webdriver
import time

In [132]:
driver= webdriver.Chrome()

In [107]:
driver.get('https://www.naukri.com/')

In [108]:
search_job=driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")
search_job.send_keys('Data Analyst')
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Bangalore')

In [109]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [113]:
Job_title=[]
location=[]
company=[]
experience=[]
for j in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    Job_title.append(j.text)
for k in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]"):
    location.append(k.text)
for l in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
    company.append(l.text)
for m in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]"):
    experience.append(m.text)

In [114]:
job=pd.DataFrame({})
job['Job']=Job_title
job['Location']=location
job['Company']=company
job['Yrs_of_experience']=experience

job[1:11]

,Job,Location,Company,Yrs_of_experience
1,Data Analyst Analyzing,Bangalore/Bengaluru,Cistup Indian Institute of Science,2-5 Yrs
2,Senior Analyst-Data Visualization,Bangalore/Bengaluru,Accenture Solutions Pvt Ltd,5-8 Yrs
3,Market Unit - Data Business Analyst (11),Bangalore/Bengaluru,Accenture Solutions Pvt Ltd,1-2 Yrs
4,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
5,Analyst-Finance Data Maintenance,Bangalore/Bengaluru,Accenture Solutions Pvt Ltd,3-5 Yrs
6,Senior Analyst-Data Management,Bangalore/Bengaluru,Accenture Solutions Pvt Ltd,5-8 Yrs
7,Analyst-Data Management,Bangalore/Bengaluru,Accenture Solutions Pvt Ltd,3-5 Yrs
8,Senior Analyst-Data Management,Bangalore/Bengaluru,Accenture Solutions Pvt Ltd,5-8 Yrs
9,Senior Analyst-Data Visualization,Bangalore/Bengaluru,Accenture Solutions Pvt Ltd,5-8 Yrs
10,Senior Analyst-Finance Data Maintenance,Bangalore/Bengaluru,Accenture Solutions Pvt Ltd,5-8 Yrs